In [6]:
import pandas as pd
dataset = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [8]:
dataset.shape

(614, 13)

In [10]:
dataset.isnull().sum().sort_values(ascending=False)

Credit_History       50
Self_Employed        32
LoanAmount           22
Dependents           15
Loan_Amount_Term     14
Gender               13
Married               3
Loan_ID               0
Education             0
ApplicantIncome       0
CoapplicantIncome     0
Property_Area         0
Loan_Status           0
dtype: int64

In [34]:
y = dataset['Loan_Status']
X = dataset.drop(columns=['Loan_Status', 'Loan_ID'])

In [45]:
cat_cols = X.select_dtypes(include=['object']).columns
num_cols = X.select_dtypes(include=['int64', 'float64']).columns

In [46]:
for col in cat_cols:
    if col in X.columns:
        X[col].fillna(X[col].mode()[0], inplace=True)
for col in num_cols:
    if col in X.columns:
        X[col].fillna(X[col].median(), inplace=True)

In [47]:
X.isnull().sum().sort_values(ascending=False)

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [48]:
from sklearn.model_selection import train_test_split
# One-hot encode categorical features before splitting
X = pd.get_dummies(X, columns=cat_cols, drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_Scaled = scaler.fit_transform(X_train)
X_test_Scaled = scaler.transform(X_test)

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [52]:
model = LogisticRegression(max_iter=2000,C=1)
model.fit(X_train_Scaled,y_train)
y_pred = model.predict(X_test_Scaled)

In [54]:
accuracy_score(y_test,y_pred)

0.7886178861788617

In [55]:
confusion_matrix(y_test,y_pred)

array([[18, 25],
       [ 1, 79]])

In [56]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           N       0.95      0.42      0.58        43\n           Y       0.76      0.99      0.86        80\n\n    accuracy                           0.79       123\n   macro avg       0.85      0.70      0.72       123\nweighted avg       0.83      0.79      0.76       123\n'

In [59]:
y_prob = model.predict_proba(X_test_Scaled)[:, 1]
y_test = y_test.map({"Y": 1, "N": 0})

for t in [0.4, 0.5, 0.6, 0.7, 0.8]:
    y_pred_t = (y_prob >= t).astype(int)
    print("\nThreshold:", t)
    print(confusion_matrix(y_test, y_pred_t))
    print(classification_report(y_test, y_pred_t))

Threshold: 0.4
[[18 25]
 [ 1 79]]
              precision    recall  f1-score   support

           0       0.95      0.42      0.58        43
           1       0.76      0.99      0.86        80

    accuracy                           0.79       123
   macro avg       0.85      0.70      0.72       123
weighted avg       0.83      0.79      0.76       123


Threshold: 0.5
[[18 25]
 [ 1 79]]
              precision    recall  f1-score   support

           0       0.95      0.42      0.58        43
           1       0.76      0.99      0.86        80

    accuracy                           0.79       123
   macro avg       0.85      0.70      0.72       123
weighted avg       0.83      0.79      0.76       123


Threshold: 0.6
[[18 25]
 [ 3 77]]
              precision    recall  f1-score   support

           0       0.86      0.42      0.56        43
           1       0.75      0.96      0.85        80

    accuracy                           0.77       123
   macro avg       0.81      0.69      0.70       123
weighted avg       0.79      0.77      0.75       123


Threshold: 0.7
[[23 20]
 [12 68]]
              precision    recall  f1-score   support

           0       0.66      0.53      0.59        43
           1       0.77      0.85      0.81        80

    accuracy                           0.74       123
   macro avg       0.71      0.69      0.70       123
weighted avg       0.73      0.74      0.73       123


Threshold: 0.8
[[30 13]
 [35 45]]
              precision    recall  f1-score   support

           0       0.46      0.70      0.56        43
           1       0.78      0.56      0.65        80

    accuracy                           0.61       123
   macro avg       0.62      0.63      0.60       123
weighted avg       0.67      0.61      0.62       123